@font-face {
  font-family: 'FuturaBookC';
  font-style: normal;
  font-weight: 400;
  src:  local('FuturaBookC'),
        url('../assets/fonts/Futura\ Book\ Regular.otf') format('woff2');
}

@font-face {
  font-family: 'FuturaDemiC Regular';
  font-style: normal;
  font-weight: 400;
  src:  local('FuturaDemiC Regular'),
        url('../assets/fonts/Futura\ Condensed\ Demi\ Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'FuturaDemic Italic';
  font-style: italic;
  font-weight: 400;
  src:  local('FuturaDemic Italic'),
        url('../assets/fonts/Futura\ Condensed\ Demi\ Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'FuturaMediumC';
  font-style: normal;
  font-weight: 400;
  src:  local('FuturaMediumC'),
        url('../assets/fonts/Futura\ Medium.otf') format('opentype');
}

@font-face {
  font-family: 'ProximaNova';
  font-style: normal;
  font-weight: 400;
  src:  local('ProximaNova'),
        url('../assets/fonts/Proxima\ Nova\ Condensed\ Regular.otf') format('opentype');
}

@font-face {
  font-family: 'YesevaOne';
  font-style: normal;
  font-weight: 400;
  src:  local('YesevaOne'), local('YesevaOne'),
        url('../assets/fonts/yesevaone.woff2') format('woff2'),
        url('../assets/fonts/yesevaone.woff') format('woff');
}
