@font-face {
  font-family: 'FuturaBookC';
  font-style: normal;
  font-weight: 400;
  src:  local('FuturaBookC'), local('FuturaBookC'),
        url('../assets/fonts/FuturaBookC.woff2') format('woff2'),
        url('../assets/fonts/FuturaBookC.woff') format('woff');
}

@font-face {
  font-family: 'FuturaDemiC';
  font-style: normal;
  font-weight: 400;
  src:  local('FuturaDemiC'), local('FuturaDemiC'),
        url('../assets/fonts/FuturaDemiC.woff2') format('woff2'),
        url('../assets/fonts/FuturaDemiC.woff') format('woff');
}

@font-face {
  font-family: 'FuturaMediumC';
  font-style: normal;
  font-weight: 400;
  src:  local('FuturaMediumC'), local('FuturaMediumC'),
        url('../assets/fonts/FuturaMediumC.woff') format('woff'),
        url('../assets/fonts/FuturaMediumC.woff2') format('woff2');
}

@font-face {
  font-family: 'ProximaNova';
  font-style: normal;
  font-weight: 400;
  src:  local('ProximaNova'), local('ProximaNova'),
        url('../assets/fonts/ProximaNova-Regular.woff') format('woff'),
        url('../assets/fonts/ProximaNova-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'YesevaOne';
  font-style: normal;
  font-weight: 400;
  src:  local('YesevaOne'), local('YesevaOne'),
        url('../assets/fonts/YesevaOne.woff2') format('woff2'),
        url('../assets/fonts/YesevaOne.woff') format('woff');
}
