.request {
  outline: 1px solid red;
}

.request__list {
  outline: 1px solid rgb(89, 0, 255);
}

.design-types__item {
  // outline: 1px solid rgb(89, 0, 255);
}

.request__list {
  outline: 2px dotted rgb(0, 255, 128);
}

// .form__label--text {
//   outline: 2px dotted rgb(255, 123, 0);
// }

// .form__input--text {
//   outline: 2px dotted rgb(38, 0, 255);
// }
