.page__wrap {
  margin: 0 auto;
  min-width: $width-mobile;
  max-width: $width-desktop;

  background-color: #fff;

  overflow: hidden;
}

.visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;

	border: 0;
	white-space: nowrap;

	clip: rect(0 0 0 0);
	overflow: hidden;
}

.btn {
  border: none;
  border-radius: 2px;
  box-sizing: border-box;

  cursor: pointer;

  &--yellow {
    color: #fff;

    background: $color-main;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);

    &:hover, &:active {
      box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.5);
    }
  }

  &--ghost {
    border: 1px solid #fff;

    &:hover, &:active {
      background-color: rgba($color: #fff, $alpha: .2);
    }
  }
}

.text-yellow {
  color: $color-main;
}

.display-none {
  display: none;
}
