body {
  min-width: $width-mobile;

  @include reset-list;

  font-family: 'FuturaDemiC', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #000;

  background-color: #ffb;
}

a {
  margin: 0;
  padding: 0;

  font-family: 'FuturaDemiC', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

h1 {
  margin: 0;
  padding: 0;

  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
}


h2, h3 {
  margin: 0;
  padding: 0;

  font-family: 'YesevaOne', 'Arial', 'sans-serif';
  font-weight: normal;
  font-style: normal;
}

h2 {
  font-size: 22px;
  line-height: 30px;
  letter-spacing: -0.07em;
  text-align: center;
  text-transform: uppercase;
}

h3 {
  font-size: 15px;
  line-height: 21px;
  text-transform: none;
}

p {
  margin: 0;
  padding: 0;

  font-family: 'FuturaBookC', 'Arial', 'sans-serif';
  text-align: center;
}


