.cart {
  position: relative;

  margin: 0 auto;

  text-align: left;

  &__wrap {
    @include reset-list;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__img {
    margin-bottom: 250px;
  }

  &__list {
    position: relative;

    max-height: 11em;

    line-height: 1.2em;
    text-align: justify;

    @include reset-list;
    list-style: inside;
    overflow: hidden;

  &::before {
    content: '…';
    position: absolute;
    left: 83px;
    bottom: 0;

    font-family: 'FuturaBookC';
    font-size: 13px;
    line-height: 22px;
    color: #959595;
  }

    &--wrap {
      position: absolute;
      top: 223px;
      left: 0;

      width: 200px;
      padding: 20px 40px 35px 30px;

      background: #FFFFFF;
      box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.05);
    }
  }

  &__title {
    margin-bottom: 10px;
  }

  &__item {
    font-family: 'FuturaBookC';
    font-size: 13px;
    line-height: 22px;
    color: #959595;
  }

  &__cost {
    position: absolute;
    bottom: -20px;
    left: 0;

    width: 190px;
    height: 40px;

    font-family: 'YesevaOne';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 40px;
    text-transform: uppercase;

    color: #fff;

    background-color: $color-main;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
  }
}

@media(min-width: 1200px) {
  .cart {
    &__wrap {
      padding: 0 100px;
    }

    &__title {
      font-size: 18px;
      line-height: 25px;
    }

    &__list {
      max-height: none;

      &--wrap {
        width: 270px;
        padding: 25px 30px 50px;
      }
    }

    &__item {
      font-size: 15px;
      line-height: 25px;
    }

    &__cost {
      bottom: -27px;

      width: 230px;
      height: 54px;

      font-size: 18px;
      line-height: 55px;
    }
  }
}
