.client {
  position: relative;

  width: 325px;
  height: 345px;
  padding: 25px 30px 85px 20px;

  text-align: left;

  background-color: #fff;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);

  text-overflow: ellipsis;

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 22px;
  }

  &__name {
    font-size: 18px;
    line-height: 23px;
  }

  &__img {
    margin-right: 25px;

    border-radius: 50%;
  }

  &__review {
    font-size: 15px;
    line-height: 27px;
    text-align: left;
    color: #959595;
  }

  &__parameters {
    position: absolute;
    bottom: -27px;
    left: 0;

    display: flex;
    align-items: center;

    background-color: $color-main;
    box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
  }

  &__square, &__work-day  {
    padding: 0 20px 0 55px;

    font-family: YesevaOne, Arial, sans-serif;
    font-size: 17px;
    line-height: 54px;
    text-transform: uppercase;
    color: #fff;

    background-repeat: no-repeat;
    background-position: 15px 50%;
  }
  &__square {
    background-image: url(../assets/img/area.svg);
    border-right: 1px solid #fff;
  }

  &__work-day {
    background-image: url(../assets/img/calendar.svg);
  }
}
