.clients {
display: none;
}

@media(min-width: 1200px) {
  .clients {
    display: block;
    padding: 100px 50px 150px;
    text-align: center;

    &__title {
      margin-bottom: 15px;

      font-size: 20px;
      line-height: 28px;
      color: #181818;
    }

    &__icon {
      margin-bottom: 25px;
    }

    &__desc {
      margin-bottom: 40px;

      font-size: 20px;
      line-height: 27px;
      color: #363636;
    }

    &__list {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;

      @include reset-list;
    }
  }
}

@media(min-width: 1400px) {
  .clients {
    padding: 100px 100px 150px;
  }
}
