.contacts {
  display: flex;
  flex-direction: column;
  padding: 0 18px 40px;
  background-color: $color-black-mobile;


  &__title {
    margin-bottom: 50px;

    color: #fff;
  }
}

@media(min-width: 800px) {
  .contacts {
    padding-bottom: 50px;

     &__title {
      margin-bottom: 40px;

      font-size: 20px;
      line-height: 28px;
    }
  }
}

@media(min-width: 1100px) {
  .contacts {
    position: relative;

    background-color: #fff;
    background-image: url(../assets/img/bg-desktop-contacts.png),
                      linear-gradient(180deg, rgba(24, 24, 24, 0.9) 3.47%, rgba(24, 24, 24, 0.72) 100%);
    background-repeat: no-repeat, no-repeat;
    background-position: 0 255px, 0 255px;
    background-blend-mode: multiply;
  }
}
