.design-types {
  background: linear-gradient(to top, $color-black-mobile 0%, $color-black-mobile 120px, #fff 120px, #fff 100%);

  &__title {
    max-width: 260px;
    margin: 0 auto 25px;

    color: $color-main;
  }

  &__list {
    display: none;

    &--imgs {
      display: none;
    }
  }

  &__slider {
    padding: 10px;
    & .slider {
      &__img {
        &--list {
          display: flex;
          flex-wrap: nowrap;
          width: 100%;
        }

        &--item {
          flex-shrink: 0;
          width: 100%;
          height: 100%;
          margin: 0 auto;
        }
      }
    }
  }
}

@media(min-width: 800px) {
  .design-types {
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
    padding: 0 40px;

    background-image: url(../assets/img/bg-desktop-design-type.jpg),
                      linear-gradient(120.96deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.9) 100%);;
    background-repeat: no-repeat, no-repeat;
    background-position: 0 115px, 0 115px;
    background-blend-mode: multiply;

    &__title {
      margin-top: 250px;
      margin-bottom: 40px;

      font-size: 27px;
      line-height: 37px;
      text-align: left;
    }

    &__link {
      padding-bottom: 5px;
      font-family: ProximaNova, Arial, sans-serif;
      font-size: 20px;
      line-height: 34px;
      text-transform: none;

      &--current {
        color: $color-main;
        border-bottom: 1px solid $color-main;
      }
    }

    &__list {
      @include reset-list;
      display: block;

      &--imgs {
        @include reset-list;
        margin-bottom: -100px;

        display: block;
      }
    }

    &__item {
      margin-bottom: 15px;

      &--imgs {
        display: flex;
      }
    }

    &__imgs {
      display: flex;
      &--column {
        &-right, &-left {
          width: 354px;

          & img {
            margin-bottom: 40px;
          }
        }

        &-right {
          display: none;
          margin-right: 40px;
          padding-top: 80px;
        }
      }
    }

    &__slider {
      display: none;
    }
  }
}

@media(min-width: 1200px) {
  .design-types {
    justify-content: space-between;
    padding: 0 100px;

    &__imgs {
      display: flex;
      &--column {
        &-right {
          display: block;
        }
      }
    }
  }
}
