.feedback {
  background-color: $color-black-mobile;
}

@media(min-width: 800px) {
  .feedback {
    display: flex;
    flex-direction: column;
    width: 520px;
    padding: 34px 100px;

    &__title {
      margin-bottom: 45px;

      font-size: 20px;
      line-height: 28px;
    }

    & .form {
      &__layout {
        margin: 0;
        margin-bottom: 50px;

        &--wrap {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
        }

        &:last-child {
          margin-bottom: 45px;
          & .form__input--text {
            width: 520px;
          }
        }

        &--checkbox {
          text-align: center;
        }
      }

      &__input {
        &--text {
          width: 230px;

          color: #fff;

          background-color: $color-black-desktop;
          border-bottom: 1px solid rgba(255, 255, 255, 0.15);

          &::placeholder {
            color: #fff;
          }
        }
      }

      &__label {
        &--text {
          color: rgba(255, 255, 255, 0.5);
        }

        &--checkbox {
          color: #fff;
        }
      }
    }
  }
}

@media(min-width: 1200px) {
  .feedback {
    background-color: $color-black-desktop;
  }
}
