.form {
  display: flex;
  flex-direction: column;
  max-width: 375px;
  margin: 0 auto;

  font-family: FuturaBookC, Arial, sans-serif;
  color: #fff;
  text-align: left;

  &__layout {
    margin-bottom: 60px;

    &:last-child {
      margin-bottom: 25px;
    }

    &--checkbox {
      margin-bottom: 70px;
    }
  }

  &__label {
    &--text {
      display: block;

      font-size: 15px;
      line-height: 27px;
      color: rgba(255, 255, 255, 0.5);
    }

    &--checkbox {
      position: relative;

      padding-left: 25px;
      font-size: 16px;
      line-height: 22px;

      cursor: pointer;

      &::before {
        content: '';

        position: absolute;
        top: 0;
        left: 0;

        width: 18px;
        height: 18px;

        background-color: $color-main;
        border-radius: 1px;
      }
    }
  }

  &__input {
    &--text {
      display: block;
      width: 340px;
      padding-bottom: 8px;

      color: #fff;
      background-color: $color-black-mobile;
      border: none;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);

      &::placeholder {
        font-family: FuturaBookC, Arial, sans-serif;
        font-size: 18px;
        line-height: 25px;
        font-weight: 400;
        color: #fff;
      }
    }

    &--checkbox {
      opacity: 0;

      &:checked + .form__label--checkbox::after {
        content: '';
        position: absolute;
        top: 5px;
        left: 5px;

        width: 10px;
        height: 8px;

        background-image: url(../assets/img/checkbox-checked.svg);
        background-repeat: no-repeat;
        background-position: 0 0;
      }

      &:focus + .form__label--checkbox {
        outline: 1px dotted rgb(32, 224, 238);
      }
    }
  }

  &__btn {
    font-family: FuturaBookC, Arial, sans-serif;
    font-size: 15px;
    line-height: 51px;
    font-weight: 500;
    letter-spacing: 0.1rem;
    text-align: center;
    text-transform: uppercase;
  }
}

@media(min-width: 800px) {
  .form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 800px;

    &__layout {
      margin-right: 50px;

      &:last-child {
        margin-right: 0;
      }
    }

    &__btn {
      width: 200px;
      height: 51px;
      margin: auto;
    }

    &__label {
      &--text {
        line-height: 22px;
        color: rgba(54, 54, 54, 0.5);
      }

      &--checkbox {
        color: #181818;
      }
    }

    &__input {
      &--text {
        width: 230px;
        padding: 10px 0;

        font-family: FuturaBookC, Arial, sans-serif;
        font-size: 18px;
        line-height: 24px;
        color: #363636;

        background-color: #fff;
        border-bottom: 1px solid rgba(54, 54, 54, 0.3);

        &::placeholder {
          color: #363636;
        }
      }
      &--checkbox {
        &:focus + .form__label--checkbox {
          outline: 1px dotted rgb(32, 224, 238);
        }
      }
    }
  }
}
