.location {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 45px;

  &__map {
    position: relative;
    width: 100%;
    height: 255px;
    margin: 0 auto 42px;
    filter: grayscale(100%);

    & iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__address, &__phone {
    font-family: 'YesevaOne', 'Arial', sans-serif;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: $color-main;
  }

  &__address {
    margin-bottom: 24px;
  }

  &__links {
    display: flex;
    justify-content: space-between;
    width: 100px;
    margin: auto;
  }

  &__link {
    display: block;
    width: 39px;
    height: 39px;

    background-color: $color-main;
    background-repeat: no-repeat;
    background-position: 0 0;

    &--email {
      background-image: url(http://placehold.it/39x39);
    }

    &--insta {
      background-image: url(http://placehold.it/39x39);
    }
  }
}

@media(min-width: 1000px) {
  .location {
    &__map {
      width: 925px;
      height: 465px;
      margin-bottom: 0;

      order: 3;
    }

    &__address, &__phone {
      font-size: 20px;
      line-height: 28px;
    }

    &__links {
      width: 70px;
    }

    &__link {
      width: 28px;
      height: 28px;
      // &--email {
      //   background-image: url(http://placehold.it/39x39);
      // }

      // &--insta {
      //   background-image: url(http://placehold.it/39x39);
      // }
    }
  }
}
