.main-offer {
  &__wrap {
    position: relative;

    padding: 85px 18px 60px 18px;

    background-color: rgba($color: $color-black-mobile, $alpha: .7);
    background-image: url(../assets/img/bg-mobile-main-offer.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    background-blend-mode: multiply;

  }

  &__instagram {
    display: none;
  }

  &__title {
    max-width: 300px;
    margin-bottom: 16px;

    font-size: 23px;
    line-height: 31px;
    text-align: left;
    color: #fff;
  }

  &__text {
    max-width: 450px;
    margin-bottom: 32px;

    font-family: FuturaBookC, Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
    color: #fff;
    }

  &__scroll {
    display: none;
  }

  &__btn {
    display: block;
    max-width: 500px;
    padding: 19px 70px;
    margin-bottom: 26px;

    text-align: center;

    box-shadow: none;

    cursor: pointer;

    &--wrap {
      display: flex;
      flex-direction: column;
    }
  }
}

@media(min-width: 500px) {
  .main-offer {
    &__wrap {
      width: 100%;
      background-image: url(../assets/img/bg-desktop-main-offer.jpg);
    }
  }
}

@media(min-width: 800px) {
  .main-offer {
    position: relative;

    display: flex;
    padding-top: 0;

    &__instagram {
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      background-color: $color-black-mobile;

      &--text {
        position: relative;

        color: $color-main;
        transform: rotate(90deg);

        &::after {
          content: '';

          position: absolute;
          top: 7px;
          left: 90px;

          width: 51px;
          height: 2px;

          background-color: $color-main;
        }

        &:hover, &:active {
          text-shadow: 0px 5px 10px rgba(227, 184, 115, 0.3);
        }
      }
    }

    &__wrap {
      padding: 194px 0 190px 60px;
    }
    &__title {
      max-width: 520px;

      font-size: 40px;
      line-height: 53px;
    }

    &__text {
      margin-bottom: 40px;

      font-size: 22px;
      line-height: 30px;
    }

    &__btn {
      display: inline-block;
      margin-right: 20px;

      &--wrap {
        flex-direction: row;
      }
    }

    &__scroll {
      position: absolute;
      bottom: -48px;
      left: 0;

      display: block;

        &--text {
        display: flex;
        align-items: center;
        padding: 40px 48px;

        font-family: YesevaOne, Arial, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
        text-transform: uppercase;
        color: #fff;

        background-color: $color-black-mobile;
        border: none;
        cursor: pointer;
      }

      &--icon {
        position: relative;

        width: 29px;
        height: 29px;
        margin-left: 12px;

        background-color: transparent;
        border: 2px solid $color-main;
        border-radius: 50%;

        &::before,
        &::after {
          content: '';

          position: absolute;
          top: 14px;
          left: 8px;

          width: 8px;
          height: 2px;

          background-color: $color-main;
        }

        &::before {
          transform: rotate(45deg);
        }

        &::after {
          left: 12px;

          transform: rotate(-45deg);
        }

        &:hover, &:active {
          box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3),
                      inset 0px 5px 15px rgba(227, 184, 115, 0.3);
        }
      }
    }
  }
}

@media(min-width: 1000px) {
  .main-offer {
    &__instagram {
      background-color: $color-black-desktop;
    }

    &__scroll {
      &--text {
        background-color: $color-black-desktop;
      }
    }
  }
}

