.online-control {
  position: relative;

  padding: 22px 18px;

  text-align: center;
  background: linear-gradient(to bottom, $color-black-mobile 0%, $color-black-mobile 855px, #fff 500px, #fff 100%);

  &__title {
    margin-bottom: 20px;

    color: #fff;
  }

  &__icon {
    margin-bottom: 40px;
  }

  &__video[poster] {
    width: 340px;
    height: 207px;
  }

  &__video {
    width: 340px;
    height: 207px;

    &--wrap {
      position: relative;

      margin-bottom: 50px;
    }

    &--play-btn {
      position: absolute;
      top: calc((100% - 37px)/2);
      left: calc((100% - 37px)/2);

      width: 37px;
      height: 37px;

      background-color: $color-main;
      box-shadow: 0px 5px 30px rgba(227, 184, 115, 0.2);
      border: none;
      border-radius: 50%;

      & svg {
        position: absolute;
        top: calc((100% - 12px)/2);
        left: calc((100% - 12px)/2);

        width: 12px;
        height: 12px;
      }
    }
  }

  &__text {
    position: relative;

    max-width: 340px;
    margin: 0 auto 35px;

    color: #fff;

    &::before {
      content: '';

      position: absolute;
      top: -20px;
      left: calc((100% - 55px)/2);

      width: 55px;
      height: 2px;

      background-color: $color-main;
    }
  }
}

@media(min-width: 800px) {
  .online-control {
    padding-top: 150px;

    background: linear-gradient(to bottom, $color-black-desktop 0%, $color-black-desktop 500px, #fff 500px, #fff 100%);

    &__text {
      max-width: 680px;
      margin: 0 auto 90px;
      font-size: 20px;
      line-height: 34px;
      color: #363636;

      &::before {
        top: -35px;
        left: calc((100% - 55px)/2);

        width: 55px;
      }
    }

    &__video[poster] {
      width: 817px;
      height: 434px;
    }

    &__video {
      width: 817px;
      height: 434px;

      box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.15);

      &--wrap {
        margin-bottom: 100px;
      }

      &--play-btn {
        top: calc((100% - 85px)/2);
        left: calc((100% - 85px)/2);

        width: 85px;
        height: 85px;

        & svg {
          position: absolute;
          top: calc((100% - 28px)/2);
          left: calc((100% - 25px)/2);

          width: 28px;
          height: 28px;
        }
      }
    }

    &__form {
      & .form {
        &__layout {
          &:nth-child(2) {
            margin-bottom: 25px;
          }

          &:nth-child(3) {
            order: 2;
          }
        }


        &__input {
          &--text {
            width: 230px;
          }
        }
      }
    }
  }
}
