.repair {
  padding-top: 35px;

  text-align: center;

  background: #fff;

  &__title {
    margin-bottom: 15px;
  }

  &__icon {
    margin-bottom: 40px;
  }

  &__item {
    width: 340px;
    margin: 0 auto;
  }
}

@media(min-width: 1400px) {
  .repair {
    padding: 40px 100px 0;
    &__icon {
      margin-bottom: 30px;
    }

    &__item {
      width: 392px;
      margin: 0;
    }
  }
}
