.repair {
  padding-top: 35px;

  text-align: center;
  background: #fff;

  &__title {
    margin-bottom: 15px;
  }

  &__icon {
    margin-bottom: 40px;
  }

  &__list {
    @include reset-list;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    width: 340px;
    margin: 0 auto;
  }
}

@media(min-width: 1400px) {
  .repair {
    padding: 35px 100px 0;

    &__icon {
      margin-bottom: 30px;
    }

    &__list {
      justify-content: space-between;
      margin-bottom: 130px;
      margin-right: 10px;
    }

    &__item {
      width: 392px;
      margin: 0;
    }
  }
}
