.request {
  display: none;
}

@media(min-width: 1200px) {
.request {
  display: flex;
  justify-content: space-between;
  padding-right: 100px;
  margin-bottom: 120px;

  &__form {
    display: flex;
    flex-direction: column;
    padding: 28px 50px;
    margin-bottom: 40px;

    color: #fff;

    background-color: $color-black-desktop;

    &--wrap {
      padding-top: 100px;
    }

    &--title {
      max-width: 290px;
      margin: 0 auto 40px;

      font-family: 'FuturaDemiC';
      font-size: 20px;
      line-height: 25px;
      text-align: center;
    }

    & .form {
      &__layout {
        margin-right: 0;

        &:nth-child(4) {
          margin-bottom: 15px;
        }

        &:last-child(5) {
          margin-bottom: 40px;
        }
      }

      &__label {
        &--text {
        line-height: 20px;
        color: rgba(255, 255, 255, 0.5);
        }

        &--checkbox {
          color: #fff;
        }
      }

      &__input {
        &--text {
          width: 408px;

          font-family: 'FuturaMediumC';
          font-size: 18px;
          line-height: 25px;

          color: #FFFFFF;
          background-color: $color-black-desktop;
          border-bottom: 1px solid rgba(255, 255, 255, 0.15);
        }

        &--text::placeholder {
          color: #FFFFFF;
        }
      }

      &__btn {
        width: 230px;
        margin-left: auto;

        font-family: 'FuturaDemiC';
        font-size: 13px;
        line-height: 50px;
      }
    }
  }

  &__discount {
    width: 220px;
    height: 72px;
    padding: 12px 0 0 100px;

    font-family: 'FuturaDemiC';
    font-size: 20px;
    line-height: 25px;
    color: $color-main;
    text-align: left;

    text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);

    background-image: url(http://placehold.it/72x72);
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  &__list {
    @include reset-list;
    counter-reset: requestCounter;

    position: relative;
    width: 100%;

    background-image: url(../assets/img/bg-black-white-building.png),
                      url(../assets/img/circle-for-list.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: 0 0, 0 55px;
  }

  &__item {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    height: 42px;

    font-family: 'FuturaMediumC';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: left;
    color: #363636;

    & span {
      align-self: center;
    }


    &::before {
      counter-increment: requestCounter;
      content: "0" counter(requestCounter);

      position: absolute;
      top: 0;
      left: -60px;

      width: 42px;
      height: 42px;
      margin-right: 17px;

      font-family: 'YesevaOne';
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 42px;
      text-align: center;
      color: #fff;

      background-color: $color-main;
      border-radius: 50%;
    }

    &:first-child {
      top: 120px;
      left: 415px;
    }

    &:nth-child(2) {
      top: 228px;
      left: 490px;
    }

    &:nth-child(3) {
      top: 390px;
      left: 515px;
    }

    &:nth-child(4) {
      top: 552px;
      left: 445px;
    }
  }
}
}
