.site-nav {
  display: flex;
  justify-content: space-between;
  padding: 24px 18px 20px 18px;

  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;

  background-color: $color-black-mobile;

  &__logo {
    display: block;

    color: $color-main;
  }

  &__list {
    display: none;

    @include reset-list;
  }

  &__call {
    display: flex;

    &-number {
      font-size: 12px;
      line-height: 14px;
      color: #fff;
      text-decoration: none;
    }

    &--btn {
      display: none;
    }
  }
}

@media(min-width: 1000px) {
  .site-nav {
    padding: 24px 10px 24px 10px;

    background-color: $color-black-desktop;

    &__logo {
      margin-top: 13px;

      font-size: 14px;
      line-height: 16px;
    }

    &__list {
      display: flex;
      justify-content: space-between;
      min-width: 400px;
    }

    &__item {
      margin: 0;
      padding: 0;
    }

    &__link {
      display: block;
      margin-top: 13px;

      font-family: 'FuturaBookC', 'Arial', sans-serif;
      font-size: 14px;
      line-height: 16px;
      font-weight: normal;
    }

    &__current {
      color: $color-main;
    }

    &__call {
      &-number {
        margin: auto 45px;

        font-size: 14px;
        line-height: 16px;
        color: $color-main;
        border-bottom: 1px solid $color-main;
      }

      &--btn {
        display: block;
        padding: 13px 33px;
      }
    }
  }
}

@media(min-width: 1400px) {
  .site-nav {
    padding: 24px 100px 24px 82px;

    &__item {
      margin-right: 47px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
