.slider {
  &__nav {
    &--list {
      display: none;
    }
  }

  &__img {
    &--list {
      position: relative;

      margin: 0 auto;

      overflow: hidden;
    }

    &--items {
      position: relative;
      display: flex;
      flex-wrap: nowrap;

      width: 100%;
    }

    &--item-in-projects {
      position: relative;

      flex-shrink: 0;
      width: 100%;

      animation: .5s ease-in-out;

      & img {
        width: 100%;
      }
    }
  }

  &__btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    width: 36px;
    height: 36px;

    background-color: $color-main;
    border: none;
    border-radius: 50%;
    opacity: 0.8;

    cursor: pointer;
    z-index: 2;

    &:hover, &:focus, &:active {
      opacity: 1;
    }

    &--next,
    &--prev {
      &::before,
      &::after {
        content: '';

        position: absolute;
        top: 14px;
        left: 15px;

        width: 8px;
        height: 2px;

        background-color: #fff;
      }

      &::before {
        transform: rotate(45deg);
      }

      &::after {
        top: 19px;

        transform: rotate(-45deg);
      }
    }

    &--prev {
      left: 14px;

      &::before {
        top: 19px;
        left: 12px;
      }

      &::after {
        top: 14px;
        left: 12px;
      }
    }

    &--next {
      right: 13px;
    }
  }

  // for JS
  &--active-in-projects {
    display: block;
  }


  &--to-left {
    animation-duration: .5s;
    animation-name: left;
  }

  &--to-right {
    animation-duration: .5s;
    animation-name: right;
  }

  @keyframes left {
    from {
      left: 0;
    } to {
      left: -100%;
    }
  }

  @keyframes right {
    from {
      left: 0;
    } to {
      left: 100%;
    }
  }
  // END of for JS
}


@media(min-width: 1000px) {
  .slider {
    &__nav {
      &--list {
        display: flex;
        margin-bottom: 45px;
      }

      &--item {
        margin: 0;
        margin-right: 60px;
        padding: 0;

        font-family: YesevaOne, Arial, sans-serif;
        font-size: 14px;
        line-height: 19px;
        color: rgba(255, 255, 255, 0.3);
        text-transform: uppercase;

        background: transparent;
        border: none;

        cursor: pointer;

        &:last-child {
          margin-right: 0;
        }

        &-current {
          color: $color-main;

          border-bottom: 1px solid $color-main;
        }
      }
    }

    &__img {
      &--list {
        width: 845px;
        height: 482px;
      }

      &--item-in-projects {
        width: 679px;
        height: 482px;
        margin-right: 21px;
      }

      &--items {
        overflow: visible;
      }

    }

    &__btn {
      &--prev {
        display: none;
      }

      &--next {
        position: absolute;
        top: 44%;

        width: 55px;
        height: 55px;

        background-color: $color-main;
        box-shadow: 0px 0px 15px rgba(227, 184, 115, 0.5);
        border: none;
        border-radius: 50%;

        &::before,
        &::after {
          content: '';

          position: absolute;
          left: 21px;

          width: 17px;
          height: 3px;

          background-color: #fff;
        }

        &::before {
          top: 20px;
        }

        &::after {
          top: 30px;
        }
      }
    }

    &--null-position {
      left: 0;
    }

    &--to-left-desktop {
      animation-duration: .5s;
      animation-name: left-desktop;
    }

    @keyframes left-desktop {
      from {
        left: 0;
      } to {
        left: -700px;
      }
    }
  }
}

.first-flex {
  order: -1;
}

.second-flex {
  order: 0;
}

.third-flex {
  order: 1;
}
