.slider {
  &__nav {
    &--list {
      display: none;
    }
  }

  &__img {
    &--list {
      position: relative;

      margin: 0 auto;
    }

    &--items {
      position: relative;

      width: 100%;

      overflow: hidden;
    }

    &--item-in-projects {
      position: relative;

      width: 100%;

      animation: 1s ease-in-out;
      display: none;
    }
  }

  &--active, &--next {
    display: block;
  }

  &--next {
    position: absolute;
    top: 0;
    // width: 100%;
  }

  &--to-left {
    animation-name: left;
  }

  &--to-right {
    animation-name: right;
    animation-direction: reverse;
  }

  &--from-left {
    animation-name: left;
    animation-direction: reverse;
  }

  &--from-right {
    animation-name: right;
  }

  @keyframes left {
    from {
      left: 0;
    } to {
      left: -100%;
    }
  }

  @keyframes right {
    from {
      left: 100%;
    } to {
      left: 0;
    }
  }

  &__btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    width: 36px;
    height: 36px;

    background-color: $color-main;
    border: none;
    border-radius: 50%;
    opacity: 0.8;

    cursor: pointer;
    z-index: 2;

    &:hover, &:focus, &:active {
      opacity: 1;
    }

    &--next,
    &--prev {
      &::before,
      &::after {
        content: '';

        position: absolute;
        top: 14px;
        left: 15px;

        width: 8px;
        height: 2px;

        background-color: #fff;
      }

      &::before {
        transform: rotate(45deg);
      }

      &::after {
        top: 19px;

        transform: rotate(-45deg);
      }
    }

    &--prev {
      left: 14px;

      &::before {
        top: 19px;
        left: 12px;
      }

      &::after {
        top: 14px;
        left: 12px;
      }
    }

    &--next {
      right: 13px;
    }
  }
}

@media(min-width: 1000px) {
  .slider {
    &__nav {
      &--list {
        display: flex;
        margin-bottom: 45px;
      }

      &--item {
        margin: 0;
        margin-right: 60px;
        padding: 0;

        font-family: YesevaOne, Arial, sans-serif;
        font-size: 14px;
        line-height: 19px;
        color: rgba(255, 255, 255, 0.3);
        text-transform: uppercase;

        background: transparent;
        border: none;

        cursor: pointer;

        &:last-child {
          margin-right: 0;
        }

        &-current {
          color: $color-main;

          border-bottom: 1px solid $color-main;
        }
      }
    }

    &__img {
      &--list {
        width: 845px;
        height: 482px;
      }

      &--item-in-projects {
        width: 679px;
        margin-right: 21px;
        // display: none;
        display: block;
      }

      &--items {
        display: flex;
        flex-wrap: nowrap;
      }
    }

    &__btn {
      &--prev {
        display: none;
      }

      &--next {
        position: absolute;
        top: 44%;

        width: 55px;
        height: 55px;

        background-color: $color-main;
        box-shadow: 0px 0px 15px rgba(227, 184, 115, 0.5);
        border: none;
        border-radius: 50%;

        &::before,
        &::after {
          content: '';

          position: absolute;
          left: 21px;

          width: 17px;
          height: 3px;

          background-color: #fff;
        }

        &::before {
          top: 20px;
        }

        &::after {
          top: 30px;
        }
      }
    }

    &__position {
      &--first {
        transform: translate3d(0px, 0, 0);
      }

      &--second {
        transform: translate3d(-700px, 0, 0);
      }

      &--third {
        transform: translate3d(-1400px, 0, 0);
      }
      &--fourth {
        transform: translate3d(-2100px, 0, 0);
      }
    }
  }
}
