.steps{
  display: none;
}

@media(min-width: 1200px) {
  .steps {
    display: flex;
    justify-content: space-between;
    padding: 0 100px 160px;

    background-color: $color-black-desktop;

    &__column {
      &--left {
        text-align: left;
      }

      &--right {
        width: 765px;
        padding-top: 130px;
      }
    }

    &__title {
      margin-bottom: 135px;

      font-size: 27px;
      line-height: 37px;
      color: $color-main;
      text-align: left;
    }

    &__text {
      font-family: 'FuturaDemiC';
      font-size: 15px;
      line-height: 21px;
      text-align: left;
      text-transform: uppercase;
      color: #fff;
    }

    &__list {
      @include reset-list;
      counter-reset: stepCounter;

      position: relative;
      margin-bottom: 100px;

      &--right {
        @include reset-list;
        counter-reset: stepCounter;

        position: relative;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 170px;
        row-gap: 70px;
        margin-bottom: 50px;
      }
    }

    & .toggles {
      display: flex;
    }

    &__imgs {
      position: relative;
    }
  }

  .step {
    &::before {
      counter-increment: stepCounter;
      content: counter(stepCounter) "/6";

      position: absolute;
      top: -40px;
      left: 0;

      font-family: 'YesevaOne';
      font-size: 18px;
      line-height: 25px;
      color: #fff;
    }

    &--right {
      position: relative;

      &::before {
        counter-increment: stepCounter;
        content: "0" counter(stepCounter);

        position: absolute;
        top: -32px;
        left: 0;

        font-family: 'YesevaOne';
        font-size: 15px;
        line-height: 21px;
        color: #fff;

        border-bottom: 1px solid $color-main;
      }
    }

    &__title {
      width: 250px;
      margin-bottom: 15px;

      line-height: 23px;
      text-align: left;
      text-transform: uppercase;
      color: $color-main;
    }

    &__btn {
      margin: 0;
      padding: 0;

      font-family: 'FuturaBookC';
      font-size: 15px;
      line-height: 18px;
      text-align: left;
      color: #FFFFFF;

      background-color: transparent;
      border: none;

      cursor: pointer;
    }

    &__desc {
      width: 330px;
      margin-bottom: 10px;

      font-size: 15px;
      line-height: 25px;
      text-align: left;
      color: #fff;
    }

    &__img {
      position: absolute;
      top: 0;
      right: 0;

      display: block;
    }
  }
}
